@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: #ffffff;
}

.glass-card {
  background-color: #0B1117;
  border: 1px solid #1F2937;
  border-radius: 0.5rem;
  backdrop-filter: blur(12px);
}

.glow-active {
  box-shadow: 0 0 10px 0.5px rgba(56, 189, 248, 0.5);
  border-color: #38BDF8;
}
